* {
  padding: 0;
  margin: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}


html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

.about-section {
  padding-top:70px;
  padding-bottom:30px;
  align-self: center;
  text-align: center;
  /* background-color: #fffffd; */
  /* background-color: paleturquoise;
  background: 
    linear-gradient(145deg, rgb(175, 238, 238) 50%, transparent 50%), 
    linear-gradient(145deg, transparent 50%, rgba(233, 233, 233, 233) 50%); */

  color: #000;
  width: 80%;
}

p {
  color: black;
  font-size: 14px;
}
#aboutFooter{
  color:white;
 }
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  /* border-radius: 50%; */
}
/*
.card img {
   border-radius: 50%; 
}*/
 
.title {
  color:#111;
  font-weight:300;
  padding-bottom: 5%;
}

h3 {
  font-weight: 100;
  font-size: medium;
}

.container h2, p {
	color: #000;
}
.container{
  padding:5%;
}

.hide {
  display: none;
}
    
.container:hover + .hide {
  display: block;
}


h1, h2 {
  text-align:center;
}

.FAQ {
    background-color: #fffffd;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
  }
   

  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
  }
  }
  
  
  .active, .accordion:hover {
    background-color: #fffffd; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 25px;
  }
 
  .icons {
    text-align: center;
    color: red;
  }

  /* #faq {
    text-align: left;
  }
  .faq {
  text-align: center;
  background-color: red;
  float: left;
} */

main{
	background-color: rgb(207, 223, 242);
  	background: 
	
	linear-gradient(180deg, rgb(29, 74, 152) 1%, transparent 10%);
}

.hide h3 {
  text-align: center;
  font-weight:900;
  color: #000;
}

.hide p {
  color: #333;
  padding: 0 10px 10px 10px;
}