body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
  
html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #fffffd;
  color: #003c96;
  opacity:.8;
}

p {
  color: #003c96;
  font-size: 14px;
}
 
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  /* border-radius: 50%; */
}

.card img {
  /* border-radius: 50%; */
}
 
.title {
  color:#003c96;
}

h3 {
  font-weight: 100;
  font-size: medium;
}

.container p {
	color: #003c96;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #dccdcd;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

.button:hover {
  background-color: #555;
}

.FAQ {
    background-color: inherit;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
  }
   

  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
  }
  }
  
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 25px;
  }
