* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/* body style */
html{
	scroll-padding-top: 70px;
}

body{
	font-family: "Montserrat", sans-serif;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	/* background-color: white; */

}

/*header / Navigation List Styles */
header{
	text-align: center;
	background-color: #007cff;
	opacity: 100%;
	font-size: large;
	font-weight: bold;
	position: fixed;
	width: 100%;
	overflow:hidden;
}
header .navbar ul li a {
	text-transform: uppercase;
	font-size: .8em;
	line-height: 2.3em;
	height: 2.3em;
	padding: 0px 20px;
	width: 100%;
	text-decoration: none;
	color: #f8f8f8;
 }
 header .navbar ul li a:hover {
	color: orange;
 }
 .navbar ul li {
	display: inline;
	list-style-type: none;
	
 }

 /* main 
*/
 main {
	width:90wvw;
	padding: 30px 20px;
	/*min-height: calc(100vh - 44px - 112px);*/
	flex-grow: 1;
	padding-top: 100px;
	
 }

 /* footer styles */
 footer{
 background-color: rgb(35, 53, 89);
 text-align: center;
 color: #f8f8f8;
 padding: 20px;
 }

 footer ul li a {
	text-transform: uppercase;
	font-size: .8em;
	line-height: 2.3em;
	height: 2em;
	padding: 0px 5px;
	width: 100%;
	text-decoration: none;
	color: white;
 }
 footer ul li a:hover {
	color: #013220;
 }
 footer ul li {
	display: inline;
	list-style-type: none;
 }
#logo {
	height: 100%;
	width: 7%;
	vertical-align: middle;
 }

 #empty{
	position:relative;
	top: -35px;
 }
 #footerNav{
	font-weight: bold;
 }