* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/* body style */

body{
	font-family: "Nunito Sans", sans-serif;
	/* background-color: #ffe4c1; */
}

/*header / Navigation List Styles */
header{
	text-align: right;
	background-color: #007cff;
	opacity: 0.8;
}
header .navbar ul li a {
	text-transform: uppercase;
	font-size: .8em;
	line-height: 2.3em;
	height: 2.3em;
	padding: 0px 10px;
	width: 100%;
	text-decoration: none;
	color: #f8f8f8;
 }
 header .navbar ul li a:hover {
	color: #013220;
 }
 .navbar ul li {
	display: inline;
	list-style-type: none;
 }

 /* main */
 main {
	width:90wvw;
	margin: 0 auto;
	padding: 30px 20px;
	min-height: calc(100vh - 44px - 112px);
 }

 /* footer styles */
 footer{
 background-color: #000000;
 text-align: center;
 color: #f8f8f8;
 padding: 20px;
 }

 footer ul li a {
	text-transform: uppercase;
	font-size: .8em;
	line-height: 2.3em;
	height: 2em;
	padding: 0px 5px;
	width: 100%;
	text-decoration: none;
	color: white;
 }
 footer ul li a:hover {
	color: #013220;
 }
 footer ul li {
	display: inline;
	list-style-type: none;
 }
#logo {
	height: 100%;
	width: 7%;
	float:left;
 }
