*{
	box-sizing:border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

#homepage{
	background-image: linear-gradient(rgba(0, 0, 0, 0.655),rgba(0, 0, 0, 0.655)),url(imge.png);
	background-size: 100vw;
}
.entry-content{
	width:60%;
	padding: 70px;
	float: left;

}
.entry-content p{
	width: 60%;
	text-align: center;
}

p{
	color: #f8f8f8;
	font-size: 15px;
	line-height: 20px;
}

button{
	width: 250px;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
	background: #f8f8f8;
	border: 1;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}





